.best{
    background-image: url('../img/best/bg2.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    &__container{
        height: 100%;
    }

    &__list{
        display: flex;
        align-items: flex-start;
        flex-direction: row;
    }
    &__item{
        width: 33%;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-right: rem(20px);
        &:last-child{
            margin-right:0;
        }
    }
    &__image-area{
        width: rem(140px);
        height: rem(100px);
    }
    &__meat{
        fill: $orange;
    }
    &__hand{
        fill: $yellow;
    }
    &__natural{
        fill: $green;
    }
    &__title{
        font-family: 'Lifehack-Medium',Arial, Helvetica, sans-serif;
        font-size: rem(24px);
        text-align: center;
    }
    &__description{
        font-family: 'Ubuntu-Light',Arial, Helvetica, sans-serif;
        font-size: rem(14px);
    }
}
.section__title--best{
    color: $dark;
    margin-bottom: rem(90px);
}
.meat{
    color: red;
}