.hero{
    background-image: url('../img/hero/bg1.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    &__container{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__content{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        flex-grow: 1;
        align-items: center;
        padding-bottom: 15%;
    }
    
    &__img{
        display: inline-block;
        width: 100%;
        height: 100%;
    }
    &__description{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: rem(10px);
    box-sizing: border-box;
}
.header__logo{
    z-index: 10;
    margin-right: auto;
}
.nav{
    margin-right: rem(15px);
}
.nav__list{
    margin: 0;
    padding: 0;
}
.nav__item{
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    &:after{
        display: inline-block;
        vertical-align: middle;
        content: ' ';
        @include circle(rem(5px), #fff);
        margin: 0 rem(12px);
    }
    &:last-child:after{
        display: none;
    }
}
.nav__link{
    text-transform: uppercase;
    color: #fff;
    font-size: rem(13px);
    font-weight: 500;
    line-height: 1.42;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    transition: .2s;
    &:hover{
        text-decoration: underline;
    }
}
.hamburger{
    display: none;
    width: 24px;
    height: 5px;
    border-radius: 3px;
    background: #fff;
    position: relative;
    margin-left: 10px;
    cursor: pointer;
    z-index: 9;
    &__area{
        position: absolute;
        top:-10px;
        width: 100%;
        height: 500%;
        cursor: pointer;
    }
    &::before{
        content: '';
        position: absolute;
        top:-10px;
        width: 24px;
        height: 5px;
        border-radius: 3px;
        background: #fff;
    }
    &::after{
        content: '';
        position: absolute;
        bottom:-10px;
        width: 24px;
        height: 5px;
        border-radius: 3px;
        background: #fff;
    }
    &__menu{
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: rgba($dark, .93);
        z-index: 7;
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: .3s;
        opacity: 0;
        &--active{
            opacity: 1;
            display: flex;
        }
    }
    &__list{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        .nav__link{
            font-size: 24px;
        }    
        &::after{
            margin-top: 10px;
        }
    }
    &__nav{
        display: block;
        z-index: 7;
        
    }
    &--active{
        background: transparent;
        transition: .3s ease;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            width: 24px;
            height: 5px;
            border-radius: 3px;
            background: #fff;
            transform: rotate(45deg);
            color: #fff;
            transition: .3s ease;
        }
        &::after{
            content: '';
            position: absolute;
            top: 0;
            width: 24px;
            height: 5px;
            border-radius: 3px;
            background: #fff;
            transform: rotate(-45deg);
            color: #fff;
            transition: .3s ease;
        }
    }
}
.button-next-page{
    text-align: center;
    display: inline-block;
    width: rem(22px);
    height: rem(22px);
    border-right: rem(2px) solid #fff;
    border-bottom: rem(2px) solid #fff;
    transform: rotate(45deg);
    margin-bottom: 40px;
}

.natural-burger{
    font-family: 'Lifehack-Medium',Arial, Helvetica, sans-serif;;
    font-size: rem(65px); 
    color: #fff;
}
