.menu{
  min-height: 100vh;
  background: url('../img/menu/bg.jpg') center center no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative;
  overflow: hidden;
  &__container{
    height: 100%;
  }
  &__list{
    display: flex;
    justify-content: flex-end;
    height: 100%;
  }
  &__item{
    width: 80px;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    &-description{
      width: 560px;
      color: #fff;
    }
  }
  &__gray-area{
    position: absolute;
    background-color: $dark;
    opacity: .5;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  &__meat{
    background: url('../img/menu/formeet.jpg') center center no-repeat;
    background-size: cover;
  }
  &__title{
    color: #fff;
    transform: rotate(-90deg);
    font-size: 40px;
    white-space: nowrap;
    padding: 0;
    cursor: pointer;
    z-index: 10;
  }
  &__description{
    width: 100%;
    height: 100%;
    padding: 20px;
    z-index: 10;
  }
}
.section__title--menu{
  position: absolute;
  top:5%;
  left: 5%;
  color: #fff;
}