.menu{
  min-height: 100vh;
  background: url('../img/menu/bg.jpg') center center no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative;
  overflow: hidden;
  &__container{
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }
  &__list{
    display: flex;
    justify-content: flex-end;
    height: 100%;
    // width: 70%;
  }
  &__item{
    height: 100%;
    display: flex;
  }
  &__item--active &__description-area{
    // width: 100%;
  }
  &__item--active &__title &__title-text{
    color: $yellow;
  }
  // &__description{
  //   height: 100%;
  //   width: rem(560px);
  //   color: #fff;
  // }
  &__title{
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    float: left;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    
    &-text{
      transform: rotate(-90deg);
      white-space: nowrap;
      font-family: 'Gagalin-Regular';
      text-decoration: none;
      text-transform: uppercase;
      font-size: rem(40px);
      color: #fff;
      
    }
  }
  &__description-area{
    background: rgba(47, 50, 52, .93);
    width: rem(0px);
    height: 100%;
    z-index: 10;
    overflow: hidden;
    transition: width .5s;
  }
  &__description-text{
    padding: rem(63px) rem(36px);
    color: #fff;
    font-family: 'Ubuntu-Light',Arial, Helvetica, sans-serif;
    font-size: rem(14px);
    line-height: rem(24px);
    opacity: 0;
    transition: .2s;
  }
  &__description-text--active{
    opacity: 1;
  }
}
.section__title--menu{
  position: absolute;
  top:5%;
  left: 5%;
  color: #fff;
}