.menu{
  min-height: 100vh;
  background: url('../img/menu/bg.jpg') center center no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative;
  overflow: hidden;
  &__container{
    height: 100%;
  }
  &__list{
    display: flex;
    justify-content: flex-end;
    height: 100%;
  }
  &__item{
    height: 100%;
    display: flex;
  }
  &__item-active .menu__description-area{
    width: 540px;
  }
  &__item-active .menu__title .menu__title-text{
    color: $yellow;
  }
  &__description{
    height: 100%;
    width: 560px;
    color: #fff;
  }
  &__title{
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    float: left;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-decoration: none;
    position: relative;
    
    &-text{
      transform: rotate(-90deg);
      white-space: nowrap;
      font-family: 'Gagalin-Regular';
      text-decoration: none;
      text-transform: uppercase;
      font-size: 40px;
      color: #fff;
    }
  }
  &__description-area{
    background: rgba(47, 50, 52, .93);
    width: 0px;
    height: 100%;
    
    overflow: hidden;
    
  }
  &__description-text{
    padding: 63px 36px;
    color: #fff;
    font-family: 'Ubuntu-Light',Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 24px;
  }
}
.section__title--menu{
  position: absolute;
  top:5%;
  left: 5%;
  color: #fff;
}