.team{
    background-image: url('../img/team/bg.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    position: relative;
    &__container{
      position: absolute;
      left: 50%;
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      background-color: $dark;
      opacity: 0.93;
      padding: 5% 2% 0 7%;
    }
    &__list{
      color: #fff;
      width: 100%;
    }
    &__item{
      margin-bottom: rem(35px);
      width: 100%;
    }
    &__item--active{
      .team__item-ico{
        transform: rotate(180deg);
      }
      .team__item-name .team__link{
        color: $yellow;
      }
      .team__item-area{
        display: flex;
        width: 100%;
        overflow: hidden;
      }
    }
    &__item-ico{
      display: inline-block;
      fill: $yellow;
      margin-right: rem(5px);
      cursor: pointer;
    }
    // &__item-ico--active{
    //   transform: rotate(180deg);
    // }
    &__item-name{
      display: inline-block;
      font-family: 'Gagalin-Regular';
      font-size: rem(14px);
      letter-spacing: rem(1px);
    }
    &__link{
      color: #fff;
      text-decoration: none;
    }
    &__item-area{
      display: none;
    }
    
    &__item-img{
      margin: 0 auto;
      padding: rem(20px);
      width: rem(125px);
      height: rem(125px);
      border-radius: 50%;
    }
    &__item-post{
      font-family: 'Ubuntu-B';
    }
    &__item-description{
      font-family: 'Ubuntu-Light';
    }
  }
  .section__title--team{
    padding: 0;
    margin-bottom: rem(85px);
  }