.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    min-height: 0;
    overflow: hidden;
    &--open-menu{
        height: 100vh;
        overflow: hidden;
    }
}

.maincontent {
    width: 100%;
    height: 100%;
    min-height: rem(650px);
    will-change: transform;
    transition: .3s;
}

.container {
    width: rem(940px);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.section {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.31);
    min-width: rem(768px);
    min-height: rem(650px);
}

.order-link {
    min-width: rem(98px);
    padding: rem(10px) rem(17px);
    border-radius: rem(5px);
    background-color: $orange;
    color: #fff;
    text-decoration: none;
    font-size: rem(13px);
    font-weight: 500;
    line-height: 1.42;
    text-transform: uppercase;
    transition: .5s;
    &:hover {
        background-color: darken($orange, 10%);
    }
}

.page-pagination {
    z-index: 10;
    height: rem(100px);
    width: rem(20px);
    top: rem(90px);
    right: rem(20px);
    position: fixed;
    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    &__link {
        position: relative;
        display: block;
        border: rem(1px) solid;
        border-color: transparent;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        margin: 10px 0;
    }
    &__link_active {
        border-color: #fff;
    }
    &__link-dot {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 5px;
        height: 5px;
        background: #fff;
        border-radius: 50%;
        transform: translate(-50%, -50%);
    }
}
.section__title{
    color: #f9b43b;
    font-family: 'Gagalin-Regular',Arial, Helvetica, sans-serif;;
    font-size: rem(72px);
    font-weight: 400;
    line-height: 1.42;
    margin: 0;
}

