@media screen and (max-width:980px) {
  html{
    font-size: 15px;
  }
  .container{
    width: 95%;
  }
}
@media screen and (max-width:768px) {
  html{
    font-size: 14px;
  }
  .hamburger{
    display: block;
  }
  .nav{
    display: none;
  }
  .section{
    min-width: 480px;
  }
  // _________________________
  .hero{
    &__content{
    flex-direction: column;
    flex-wrap: nowrap;
    }
    &__img-area{
      width: 50%;
    }
    &__description{
      text-align: center;
    }
  }
// _________________________

.akk-burgers{
  &__item{
    flex-direction: column;
  }
  &__img-area{
    width: 100%;
    height: 50%;
  }
  &__text-area{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__kkal{
    top: 0;
    right: 0;
    transform: translate(0,0);
  }
  &__sostav{
    top: 0;
    left: 5%;
    transform: translate(0,0);
    &:hover .sostav{
      display: none;
   }
  }
  &__description{
    text-align: center;
  }

}
.sostav {
  width: rem(322px);
  padding-right: rem(62px);
  &__close{
    position: absolute;
    right: 20px;
    top: 30px;
    width: 24px;
    height: 5px;
    background: transparent;
    transition: .3s ease;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        width: 24px;
        height: 5px;
        border-radius: 3px;
        background: $orange;
        transform: rotate(45deg);
        color: #fff;
        transition: .3s ease;
    }
    &::after{
        content: '';
        position: absolute;
        top: 0;
        width: 24px;
        height: 5px;
        border-radius: 3px;
        background: $orange;
        transform: rotate(-45deg);
        color: #fff;
        transition: .3s ease;
    }
  }
}

  // _________________________
  .team{
  &__container{
    padding: 5% 20% 0 20%;
    left: 0;
    width: 100%;
    align-items: center;
  }
    &__item{
      text-align: center;
    }
    &__item-area{
      flex-direction: column;
    }
  }
// _________________________
  .people{
    &__item{
      width: 50%;
      height: 25%;
    }
  }
  // _________________________
  .form{
    flex-direction: column;
    &__col{
      margin-right: 0;
    }
    &-section__title{
      text-align: center;
    }
  }
}

@media screen and (max-width:480px) {
  html{
    font-size: 13px;
  }

  .section{
    min-width: 320px;
    &__title--best{
      font-size: 3.5rem;
      margin-bottom: 2rem;
    }
  }
  
  .best{
    &__list{
      flex-direction: column;
    }
    &__item{
      flex-direction: row;
      justify-content: center;
      width: 100%;
      margin-bottom: 2rem;
    }
    &__image-area{
      margin-right: 10px;
    }
    &__title{
      margin-top: 0;
      text-align: left;
    }
  }

  .people{
    &__description{
      align-items: center;
    }
    &__name{
      text-align: center;
    }
    &__text{
      display: none;
    }
  }

  .footer{
    flex-direction: column;
    height: rem(88px);
    &__text{
      text-align: center;
    }
  }
}

.hidden{
  display: none;
}
@media screen and (max-width:405px) {
  .hero{
    &__h2{
      text-align: center;
      font-size: 3rem;
    }
    .natural-burger{
      font-size: 3rem;
    }
  }

  .form-section{
    &__title{
      font-size: 2.0rem;
    }
  }
}